<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="VideoMapper">
	<update id="setUpcomingAllRefreshedFalse">
		UPDATE Upcoming
		SET refreshed = 'false'
	</update>
	
	<update id="setLiveAllRefreshedFalse">
		UPDATE Live
		SET refreshed = 'false'
	</update>
	
	<update id="setUpcomingRefreshedTrueByVideoId">
		UPDATE Upcoming
		SET refreshed = 'true'
		WHERE videoId = #{videoId}
	</update>
	
	<update id="setLiveRefreshedTrueByVideoId">
		UPDATE Live
		SET refreshed = 'true'
		WHERE videoId = #{videoId}
	</update>
	
	<select id="readNotInUpcomingOrLive" resultType="com.hololive.livestream.DTO.MemberDTO">
		SELECT *
		FROM Member
		WHERE memberName NOT IN (SELECT memberName FROM Upcoming) AND memberName NOT IN (SELECT memberName FROM Live)
	</select>
	
	<select id="readMemberNameByChannelId" resultType="String">
		SELECT memberName
		FROM Member
		WHERE channelId = #{channelId}
	</select>
	
	<select id="readAllMember" resultType="com.hololive.livestream.DTO.MemberDTO">
		SELECT *
		FROM Member
	</select>

	<insert id="createUpcoming">
		INSERT INTO Upcoming (
			memberName, channelId, videoId, scheduledStartTime, thumbnailPath
		) VALUES (
			#{memberName}, #{channelId}, #{videoId}, #{scheduledStartTime}, #{thumbnailPath}
		)
	</insert>
	
	<select id="readUpcomingByVideoId" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT memberName, channelId, videoId, scheduledStartTime, thumbnailPath
		FROM Upcoming
		WHERE videoId = #{videoId}
	</select>
	
	<select id="readAllInUpcomingIn1Hour" resultType="com.hololive.livestream.DTO.VideoDTO">
	<![CDATA[
		SELECT Upcoming.memberName, Upcoming.channelId, Upcoming.videoId, Upcoming.scheduledStartTime, Upcoming.thumbnailPath, Member.profilePath
		FROM Upcoming, Member
		WHERE Upcoming.memberName = Member.memberName AND DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 1 HOUR), '%y.%m.%d %H:%i') >= scheduledStartTime
		ORDER BY scheduledStartTime
	]]>
	</select>
	
	<select id="readAllInUpcomingNotRefreshed" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Upcoming.memberName, Upcoming.channelId, Upcoming.videoId, Upcoming.scheduledStartTime, Upcoming.thumbnailPath, Member.profilePath
		FROM Upcoming, Member
		WHERE Upcoming.memberName = Member.memberName AND Upcoming.refreshed = 'false'
		ORDER BY scheduledStartTime
	</select>
	
	<select id="readAllInUpcoming" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Upcoming.memberName, Upcoming.channelId, Upcoming.videoId, Upcoming.scheduledStartTime, Upcoming.thumbnailPath, Member.profilePath
		FROM Upcoming, Member
		WHERE Upcoming.memberName = Member.memberName
		ORDER BY scheduledStartTime
	</select>

	<delete id="deleteUpcomingByVideoId">
		DELETE FROM Upcoming
		WHERE videoId = #{videoId}
	</delete>
	
	<update id="updateScheduledStartTime">
		UPDATE Upcoming
		SET scheduledStartTime = #{scheduledStartTime}
		WHERE videoId = #{videoId}
	</update>
	
	<insert id="createLive">
		INSERT INTO Live (
			memberName, channelId, videoId, scheduledStartTime, actualStartTime, thumbnailPath
		) VALUES (
			#{memberName}, #{channelId}, #{videoId}, #{scheduledStartTime}, #{actualStartTime}, #{thumbnailPath}
		)
	</insert>
	
	<select id="readLiveByVideoId" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT memberName, channelId, videoId, scheduledStartTime, actualStartTime, thumbnailPath
		FROM Live
		WHERE videoId = #{videoId}
	</select>
	
	<select id="readAllInLive"  resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Live.memberName, Live.channelId, Live.videoId, Live.scheduledStartTime, Live.actualStartTime, Live.thumbnailPath, Member.profilePath
		FROM Live, Member
		WHERE Live.memberName = Member.memberName
		ORDER BY actualStartTime
	</select>
	
	<select id="readAllInLiveNotRefreshed" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Live.memberName, Live.channelId, Live.videoId, Live.scheduledStartTime, Live.actualStartTime, Live.thumbnailPath, Member.profilePath
		FROM Live, Member
		WHERE Live.memberName = Member.memberName AND Live.refreshed = 'false'
		ORDER BY actualStartTime
	</select>
	
	<delete id="deleteLiveByVideoId">
		DELETE FROM Live
		WHERE videoId = #{videoId}
	</delete>
	
	<insert id="createCompleted">
		INSERT INTO Completed (
			memberName, channelId, videoId, scheduledStartTime, actualStartTime, thumbnailPath, actualEndTime
		) VALUES (
			#{memberName}, #{channelId}, #{videoId}, #{scheduledStartTime}, #{actualStartTime}, #{thumbnailPath}, #{actualEndTime}
		)
	</insert>
	
	<select id="readCompletedByVideoId" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT memberName, channelId, videoId, scheduledStartTime, actualStartTime, thumbnailPath, actualEndTime
		FROM Completed
		WHERE videoId = #{videoId}
	</select>
	
	<select id="readAllInCompleted" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Completed.memberName, Completed.channelId, Completed.videoId, Completed.scheduledStartTime, Completed.actualStartTime, Completed.thumbnailPath, Completed.actualEndTime, Member.profilePath
		FROM Completed, Member
		WHERE Completed.memberName = Member.memberName
		ORDER BY actualStartTime
	</select>
	
	<select id="readAllInCompletedIn1Days" resultType="com.hololive.livestream.DTO.VideoDTO">
	<![CDATA[
		SELECT Completed.memberName, Completed.channelId, Completed.videoId, Completed.scheduledStartTime, Completed.actualStartTime, Completed.thumbnailPath, Completed.actualEndTime, Member.profilePath
		FROM Completed, Member
		WHERE Completed.memberName = Member.memberName AND DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%y.%m.%d %H:%i') <= actualStartTime
		ORDER BY actualStartTime
	]]>
	</select>
	
	<select id="readAllInCompletedIn3Days" resultType="com.hololive.livestream.DTO.VideoDTO">
	<![CDATA[
		SELECT Completed.memberName, Completed.channelId, Completed.videoId, Completed.scheduledStartTime, Completed.actualStartTime, Completed.thumbnailPath, Completed.actualEndTime, Member.profilePath
		FROM Completed, Member
		WHERE Completed.memberName = Member.memberName AND DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 DAY), '%y.%m.%d %H:%i') <= actualStartTime
		ORDER BY actualStartTime
	]]>
	</select>
	
	<select id="readAllInCompletedBetweenSomeday" resultType="com.hololive.livestream.DTO.VideoDTO">
	<![CDATA[
		SELECT Completed.memberName, Completed.channelId, Completed.videoId, Completed.scheduledStartTime, Completed.actualStartTime, Completed.thumbnailPath, Completed.actualEndTime, Member.profilePath
		FROM Completed, Member
		WHERE Completed.memberName = Member.memberName AND #{start} <= actualStartTime AND actualStartTime <= #{end}
		ORDER BY actualStartTime
	]]>
	</select>
	 
	<delete id="deleteCompletedByVideoId">
		DELETE FROM Completed
		WHERE videoId = #{videoId}
	</delete>
	
	<select id="readMinQuotasAPIKey" resultType="com.hololive.livestream.DTO.APIDTO">
		SELECT *
		FROM Api
		WHERE quota = (SELECT MIN(quota) FROM Api)
		GROUP BY quota
	</select>
	
	<update id="increaseQuotas100">
		UPDATE Api
		SET quota = quota + 100
		WHERE apiKey = #{apiKey}
	</update>
	
	<update id="increaseQuotas1">
		UPDATE Api
		SET quota = quota + 1
		WHERE apiKey = #{apiKey}
	</update>
	
	<update id="resetQuota">
		UPDATE Api
		SET quota = 0
	</update>
</mapper>