<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="VideoMapper">

<!-- 	LiveStreamController에서 사용하는 Mapper 	-->

	<select id="readAllInUpcoming" resultType="com.hololive.livestream.DTO.VideoVue">
		SELECT Upcoming.*, Member.profilePath
		FROM Upcoming, Member
		WHERE Upcoming.memberName = Member.memberName
		ORDER BY scheduledStartTime
	</select>

	<select id="readAllInUpcomingIn1Hour" resultType="com.hololive.livestream.DTO.VideoVue">
	<![CDATA[
		SELECT Upcoming.*, Member.profilePath
		FROM Upcoming, Member
		WHERE Upcoming.memberName = Member.memberName AND DATE_ADD(NOW(), INTERVAL 1 HOUR) >= scheduledStartTime
		ORDER BY scheduledStartTime
	]]>
	</select>
	
	<select id="readAllInLive"  resultType="com.hololive.livestream.DTO.VideoVue">
		SELECT Live.*, Member.profilePath
		FROM Live, Member
		WHERE Live.memberName = Member.memberName
		ORDER BY actualStartTime
	</select>
	
	<select id="readAllInCompletedIn3Days" resultType="com.hololive.livestream.DTO.VideoVue">
	<![CDATA[
		SELECT Completed.*, Member.profilePath
		FROM Completed, Member
		WHERE Completed.memberName = Member.memberName AND DATE_SUB(NOW(), INTERVAL 3 DAY) <= actualStartTime
		ORDER BY actualStartTime
	]]>
	</select>
	
	<select id="readAllInCompletedBetweenSomeday" resultType="com.hololive.livestream.DTO.VideoVue">
	<![CDATA[
		SELECT Completed.*, Member.profilePath
		FROM Completed, Member
		WHERE Completed.memberName = Member.memberName AND #{start} <= actualStartTime AND actualStartTime <= #{end}
		ORDER BY actualStartTime
		LIMIT #{offset}, 50
	]]>
	</select>
	
	<select id="readAllInCompletedSize" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM Completed
		WHERE #{start} <= actualStartTime AND actualStartTime <= #{end}
	]]>
	</select>
	
	
	
<!-- 	CheckChannel에서 사용하는 Mapper	 -->
	
	<insert id="createUpcoming">
		INSERT INTO Upcoming (
			memberName, channelId, videoId, scheduledStartTime
		) VALUES (
			#{memberName}, #{channelId}, #{videoId}, #{scheduledStartTime}
		)
	</insert>
	
	<insert id="createLive">
		INSERT INTO Live (
			memberName, channelId, videoId, scheduledStartTime, actualStartTime
		) VALUES (
			#{memberName}, #{channelId}, #{videoId}, #{scheduledStartTime}, #{actualStartTime}
		)
	</insert>
	
	<insert id="createCompleted">
		INSERT INTO Completed (
			memberName, channelId, videoId, scheduledStartTime, actualStartTime, actualEndTime
		) VALUES (
			#{memberName}, #{channelId}, #{videoId}, #{scheduledStartTime}, #{actualStartTime}, #{actualEndTime}
		)
	</insert>
	
	<select id="readAllMember" resultType="com.hololive.livestream.DTO.MemberDTO">
		SELECT *
		FROM Member
	</select>
	
	<select id="readUpcomingByVideoId" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT *
		FROM Upcoming
		WHERE videoId = #{videoId}
	</select>
	
	<select id="readMemberNameByChannelId" resultType="String">
		SELECT memberName
		FROM Member
		WHERE channelId = #{channelId}
	</select>
	
	<select id="readAllInUpcomingNotRefreshed" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Upcoming.*, Member.profilePath
		FROM Upcoming, Member
		WHERE Upcoming.memberName = Member.memberName AND Upcoming.refreshed = 'false'
		ORDER BY scheduledStartTime
	</select>
	
	<select id="readAllInLiveNotRefreshed" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT Live.*, Member.profilePath
		FROM Live, Member
		WHERE Live.memberName = Member.memberName AND Live.refreshed = 'false'
		ORDER BY actualStartTime
	</select>
	
	<delete id="deleteLiveByVideoId">
		DELETE FROM Live
		WHERE videoId = #{videoId}
	</delete>

	<delete id="deleteUpcomingByVideoId">
		DELETE FROM Upcoming
		WHERE videoId = #{videoId}
	</delete>
	
	<update id="setUpcomingAllRefreshedFalse">
		UPDATE Upcoming
		SET refreshed = 'false'
	</update>
	
	<update id="setLiveAllRefreshedFalse">
		UPDATE Live
		SET refreshed = 'false'
	</update>

	
	
<!-- 	VideoDAO에서 사용하는 MAPPER	 -->
	
	<select id="readLiveByVideoId" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT *
		FROM Live
		WHERE videoId = #{videoId}
	</select>
	
	
	<select id="readCompletedByVideoId" resultType="com.hololive.livestream.DTO.VideoDTO">
		SELECT *
		FROM Completed
		WHERE videoId = #{videoId}
	</select>
	
	<update id="updateScheduledStartTime">
		UPDATE Upcoming
		SET scheduledStartTime = #{scheduledStartTime}
		WHERE videoId = #{videoId}
	</update>
	
	<update id="setUpcomingRefreshedTrueByVideoId">
		UPDATE Upcoming
		SET refreshed = 'true'
		WHERE videoId = #{videoId}
	</update>
	
	<update id="setLiveRefreshedTrueByVideoId">
		UPDATE Live
		SET refreshed = 'true'
		WHERE videoId = #{videoId}
	</update>
	 
	<delete id="deleteCompletedByVideoId">
		DELETE FROM Completed
		WHERE videoId = #{videoId}
	</delete>
</mapper>